button {
    background-color: transparent;
    padding: 1rem;
    width: 150px;
    border: dotted white 22px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    align-content: center;
}