/*NOEMI GOMES DE OLIVEIRA _ 2c. 21/08/24*/

body{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    font-family: "Pixelify Sans", sans-serif; 
    display: flex; 
    justify-content: center;
    margin: 100px 200px 0px 200px;
}

button{
    background-color: #472e0a;
    border: black;
    color: white; 
    font-family: "Roboto Mono", monospace;
    margin: 30px 20px 0 0;
    padding: 10px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

img {
    width: 200px;
    margin: 0 0 70px 0;
}